.bottom-tab .btn-bottom-tab {
  min-width: 95px;
  color: var(--common-color);
}

.bottom-tab .btn-bottom-tab span {
  font-size: 13px;
  color: var(--gray);
}

.icon svg {
  fill: var(--common-color);
}
