// header
.header-inner {
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.header-inner .icon svg {
  width: 30px;
  height: 30px;
  fill: #cbcbcb;
}

// bottom tab
.bottom-tab .btn-bottom-tab {
  min-width: 95px;
  color: var(--common-color);
}

.bottom-tab .btn-bottom-tab span {
  font-size: 13px;
  color: var(--gray);
}

.bottom-tab .icon svg {
  fill: var(--common-color);
}

// textfield
.textfield {
  width: 100%;
}

.textfield label.Mui-focused {
  color: #44bbcd;
}

.textfield .Mui-focused svg {
  fill: #44bbcd;
}

.textfield .MuiInput-root::after {
  border-bottom: 2px solid #44bbcd;
}
.textfield .MuiInput-root:hover::after {
  border-bottom: 2px solid #44bbcd;
}

// button
.btn:hover {
}
