.main {
  padding-top: var(--offset-top);
  background-color: #44bbcd94;

  // section top
  .section-top {
    padding: 30px 0 50px 0;
  }

  .top-contents {
    height: 200px;
    cursor: pointer;

    .icon-check {
      margin-right: 3px;
    }
  }

  // contents 영역
  .section-contents {
    position: relative;

    &__inner {
      width: 100%;
      padding-top: 25px;
      padding-bottom: var(--offset-bottom);
      border-radius: 20px 20px 0 0;

      .section {
        padding-top: 60px;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .more {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        &::after {
          content: "";
          display: inline-block;
          width: 18px;
          height: 18px;
          background-image: url(../assets/icons/icon-arrow-next.svg);
          background-size: contain;
        }
      }

      // 광고
      .advertising {
        .slider {
          svg {
            width: 11px;
            height: 11px;
          }
          .slide-item {
            height: 150px;
          }
        }
      }

      // 톡톡 지식
      .info {
        .info-item {
          width: calc(100% / 2 - 10px);
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }

          &__wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          .img {
            position: relative;
            height: 210px;
          }
          .text {
            margin-top: 10px;
            span {
              font-size: 13px;
              color: var(--light-gray);
            }
            p {
              margin-top: 5px;
              font-size: 14px;
              line-height: 1.3;
            }
          }
        }
      }

      // 공지사항
      .notice {
        padding-bottom: 50px;
        .notice-item {
          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: calc(100% / 2 - 10px);
              height: 150px;
              padding: 0 20px;
              border-radius: 20px;
              font-size: 18px;
              background-color: #709ffede;
              color: #fff;
              font-weight: 500;
              cursor: pointer;

              p {
                padding-top: 25px;
                line-height: 1.4;
                font-size: 13px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  // icon
  .icon-check {
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/icon-check.png);
    background-size: contain;
  }

  .icon-record {
    width: 30px;
    height: 30px;
    background-size: contain;
  }

  .icon-record.emotion {
    background-image: url(../assets/icons/icon-main01.png);
  }
  .icon-record.food {
    background-image: url(../assets/icons/icon-main02.png);
  }
  .icon-record.pill {
    background-image: url(../assets/icons/icon-main03.png);
  }
  .icon-record.sleep {
    background-image: url(../assets/icons/icon-main04.png);
  }
  .icon-record.fitness {
    background-image: url(../assets/icons/icon-main05.png);
  }
  .icon-record.diary {
    background-image: url(../assets/icons/icon-main06.png);
  }
}
